// 主色
$color-main : #4182eb;
$color-bg : #efeff4;
// 链接
$color-link-info : $color-main; // 蓝色链接
$color-link-warn : #ff7a3f;     // 红色链接
// 激活和未激活
$color-tab-active : $color-main;
$color-tab-normal : #858e9c;
// 标题和副标题
$color-title : #19192d;
$color-subtitle : #576b95;
// 星星的亮暗
$color-star-dark : #ddd;
$color-star-light : #ffb901;
// 监控中
$color-monitoring : #ff7a3f;
$color-monitor : #576b95;
// Tag
$color-tag-normal : #576b95;
$color-tag-normal-bg : rgba(224,230,237,0.48);
$color-tag-light : #ff4e00;
$color-tag-light-bg : rgba(247,224,215,0.55);
// 遮罩层颜色
$color-mask : rgba(0,0,0,.6);
// 0.5px边框颜色
$color-border : #d9d9d9;